In [1]:
import pandas as pd
import numpy as np
from scipy import stats

# Q1

In [3]:
data1=pd.read_csv('Cutlets.csv')

In [4]:
data1

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [11]:
#from the given data
#Null Hypothesis(H0): There is no difference between cultelts size(µ1 = µ2)
#Alternative hypothesis(H1): There is significance difference b/w cutlets size of 2 Units(µ1≠µ2)
#To find the similarity between two independent samples, we should use 2 Sample t-test.
stats.ttest_ind(data1['Unit A'],data1['Unit B'])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

# Q2

In [12]:
data2=pd.read_csv('LabTAT.csv')

In [13]:
data2

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [14]:
#from the given data
#Null Hypothesis(H0): There is no difference between average Turn Around Time of the four laboratories(µ1=µ2=µ3=µ4)
#Alternate Hypothesis(H1): Atleast one laboratory of the mean time is different from others.

In [16]:
#If we have morethan two samples and to compare the mean of that samples we use ANNOVA Test
stats.f_oneway(data2.iloc[:,0],data2.iloc[:,1],data2.iloc[:,2],data2.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

# Q3

In [24]:
from scipy import stats
import scipy
data3=pd.read_csv('BuyerRatio.csv')

In [18]:
data3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [32]:
#from the given data
#Null Hypothesis(H0): There is no difference between Male and Female buyer ratios of the four given regions
#Alternate Hypothesis(H1): Atleast one region is different from other region.

In [27]:
data3=data3.drop(['Observed Values'],axis=1)

In [28]:
data3

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [33]:
#here we are appying the chi-squares for the above output data
chisquare=scipy.stats.chi2_contingency(data3)

In [34]:
chisquare
#for this type of function we are getting 3 different outputs,
#i.e,chi-square statistics,
#p-value and
#df(degrees of freedom)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [35]:
#here the P_Value is 0.66 and it is greaterthan the Alpha_Value(0.05),so that we can accept the Null Hypothesis

# Q4

In [49]:
data4=pd.read_csv('Costomer+OrderForm.csv')

In [50]:
data4

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [51]:
data4.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [52]:
data4.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [53]:
data4.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [54]:
data4.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [56]:
#Creating Contingency table(an array of Error free Values and Defective Values)
No_of_Observations = np.array([[271,267,269,280],[29,33,31,20]])

In [57]:
No_of_Observations

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])